[submodule "src/dexhandv2_description"]
	path = src/dexhandv2_description
	url = git@github.com:iotdesignshop/dexhandv2_description.git
[submodule "src/dexhandv2_control"]
	path = src/dexhandv2_control
	url = git@github.com:iotdesignshop/dexhandv2_control.git
